<style>
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  .toolbar a {
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
  }
  .toolbar > .title {
    color: #fff;
  }
  .toolbar nav a {
    color: #ddd;
  }


</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a [routerLink]="['/']" class="title">Spätzle</a>
  <nav>
    <a [routerLink]="['/messages']">Messages</a>
    <a [routerLink]="['/logs']">Logs</a>
    <a [routerLink]="['/traces']">Traces</a>
    <a [routerLink]="['/metrics']">Metrics</a>
  </nav>
  <div class="spacer"></div>

</div>

<router-outlet></router-outlet>
