@page
@model Examples.AspNetCore.Pages.IndexModel
@{
}
<html>
    <head>
    <title>Examples</title>
    </head>
    <body>
    <div>Hello</div>
    <div>@Model.Now.ToString("O")</div>
    <div>@Model.ActivityId</div>
    </body>
</html>